<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<title>{{ .Params.Title }} - {{ .Site.Author.name }}</title>

	{{ partial "header/meta-base.html" . }}
	{{ partial "header/meta-article.html" . }}

	{{ partial "header/css.html" . }}
	{{ partial "header/favicons.html" . }}
	{{ partial "header/rss.html" . }}

	{{ partial "header/google-analytics.html" . }}
</head>
<body>
	<main id="main-container" class= "{{ if gt (len .Section) 0 }} width-{{ .Section }} {{ else }} width-default {{ end }}">
