{{ partial "header.html" . }}
{{ partial "top-nav.html" . }}
    <p>Hi, my name is Tomasz Szulc 🧔🏻, and I'm a *software engineer* since 2012, mainly focused on iOS and tvOS apps development 💪🏻.</p>

    <p>
        You can find me on: 
        <a target="_blank" href="{{ .Site.Social.linkedin_link }}">linkedin</a>,
        <a target="_blank" href="{{ .Site.Social.github_link }}">github</a>, 
        or even on <a target="_blank" href="{{ .Site.Social.instagram_link }}">instagram</a> if you are a runner 🏃‍🔥 :)
        Got question? Drop me an <a href="mailto:{{ .Site.Social.email }}?subject=Email from the blog">email</a>.
    </p>

    <h3 class="margin-bottom-0">Testimonials</h3>
    <p>Check <a target="_blank" href="https://linkedin.com/in/tomkowz">linkedin</a> for those.</p>

    <p>🚀</p>
{{ partial "footer.html" . }}