{{ partial "header.html" . }}
{{ partial "top-nav.html" . }}
    <h3>Talks and slides</h3>
    <p>Slowly getting back to talks 🎤 ... :)</p>

    <h3>"Building MVP with Flutter" @ Intive's iOS Guild Szczecin (Nov 2018)</h3>
    <p>I gave a talk about my experience with Flutter and Dart, and how my work and process look like on designing and creating MVP cross platform app for Android and iOS. <a href="{{ "uploads/slides/2018-11-flutter.pdf" | relURL }}">Download slides</a>.</p>

    <h3 class="margin-bottom-0">"Apple Watch Getting Started" @ Netcamp (Dec 2015)</h3>
    <p>I've got opportunity to talk 🎤 once so far in front of audience of ~140 people, but I hope it will change sometime in the future! The talk was about getting started with Apple Watch. This is few years old now ;) <a target="_blank" href="https://youtu.be/WWtAlXfOBk8">See "Apple Watch Getting Started (2015)" on YouTube</a>.</p>

    <p>🚀</p>
{{ partial "footer.html" . }}